[submodule "services/chronos-backend"]
	path = services/chronos-backend
	url = git@github.com:nodelike/chronos-backend.git
[submodule "services/chronos-gateway"]
	path = services/chronos-gateway
	url = git@github.com:nodelike/chronos-gateway.git
